

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  height: 100%;}

body {
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fafafa;
  color: #323441;
}

h1 {
  font-weight: 100;
  font-size: 39.92px !important;
}

small {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 13.97px;
  font-weight: bold;
}

.btn {
  padding: 19px 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.btn-default {
  color: #fff;
  background-color: #01b841;
  border: 0;
  box-shadow: 0px 3px 0px #018c31;
  height: 60px;
  min-width: 235px;
}

.btn-default:hover {
  color: #fff;
  background-color: #01b841;
}

/* --------- Main Content Holder --------- */

.container {
  height: 100%;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.16);
  padding: 0;  border: 0;  margin: 0;
  min-height: 860px;
  position: relative;
}

.jumbotron .left-container {
  position: relative;
  background-color: #fff;

  /* Border Radious Control */
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* End Border Radious Control */

  width: 50%;
  min-height: 860px;
  position: absolute;
  margin-bottom: 50px;
}

.jumbotron
.left-container
.logo {
  display: block;
  padding: 65px 0px 0px 0px;
}

.jumbotron
.left-container
.left-container-content {
  position: relative;
  padding-top: 70%;
}

.jumbotron
.left-container
.left-container-content
.btn-default {
  margin-top: 85px;
  margin-bottom: 30px;
}

.jumbotron
.left-container
.wraper {
  position: relative;
  padding: 0 60px 0 60px;
  min-height: 860px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
  }
  .jumbotron h1,
  .jumbotron .h1 {

  }

}

/* --------- When content is Full width --------- */

.brands {
  margin-top: 35px;
}

.full {
  width: 100% !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
}

.full .full-btn {
  width: 100%;
}

.full .selector {
  position: absolute;
  right: 25px;
  top: 23px;
  float: right;
  z-index: 99;
}

.full .special {
  color: #01b841;
  font-size: 50px;
  font-weight: bold;
  height: 96px;
  text-align: center;
}

.full .icon {
  margin-bottom: 30px;
}

.full .how-works {
  text-align: left;
}

.full b {
  color: #01b841
}

.full ul {
  text-align: left;
  list-style: none;
}

.full ul li {
  font-size: 16px;
  margin: 0 0 25px 0px;
}

.full ul li img {
  margin: 0 20px 0px 0px;
}

.full ul svg {
  width: 36px;
  margin: 0 20px 0px 0px;
  padding-top: 25px;
}


.full p, .full ul {
  color: #665e64;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 70px;
}

.full small {
  color: #01b841;
}

.full h1 {
  font-size: 30px !important;
  font-weight: bold;
  margin: 10px 0 80px 0px;
}

.full .short {
  margin-bottom: 20px;
}

.full h2 {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
  line-height: 1.4em;
}

.full select,
.full textarea,
.full input {
  position: relative;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0; border: 0; margin: 0;
  font-size: 18px;
  color: #666;
  height: 67px;
  border: 0;
  background-color: transparent;
  resize: none;
}

.full select,
.full textarea,
.full button,
.full input {
  width: 100%;
  padding: 20px 25px 25px 25px;
}

.full textarea {
  height: 140px;
  padding: 20px 25px 25px 25px;
}

.full select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 20px 25px 25px 25px;
}

.full form {
  width: 462px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: inline-block;
}

.full form input:nth-child(1) {
  border-bottom: 1px solid #ebebeb;
}

.full form input:nth-child(2) {
  border-bottom: 1px solid #ebebeb;
}

.full form input:nth-child(3) {
  border-bottom: 1px solid #ebebeb;
}

.full form .form-container {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ebebeb;
}

.full form .form-container select {
  border-bottom: 1px solid #ebebeb;
  border-radius: 0px !important;
}


.full .logo {
  text-align: center;
}

.full .wraper {
  text-align: center;
}

.full .wraper .left-container-content {
  padding-top: 100px;
}
