

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  height: 100%;}

body {
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fafafa;
  color: #323441;
}

h1 {
  font-weight: 100;
  font-size: 39.92px !important;
}

small {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.btn {
  padding: 19px 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.btn-default {
  color: #fff;
  background-color: #01b841;
  border: 0;
  box-shadow: 0px 3px 0px #018c31;
  height: 60px;
  min-width: 235px;
}

.btn-default:hover {
  color: #fff;
  background-color: #01b841;
}

/* --------- Main Content Holder --------- */

.container {
  height: 100%;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.16);
  padding: 0;  border: 0;  margin: 0;
  min-height: 860px;
  position: relative;
}

.jumbotron .left-container {
  position: relative;
  background-color: #fff;

  /* Border Radious Control */
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* End Border Radious Control */

  width: 50%;
  min-height: 860px;
  position: absolute;
  margin-bottom: 50px;
}

.jumbotron
.left-container
.logo {
  display: block;
  padding: 65px 0px 0px 0px;
}

.jumbotron
.left-container
.left-container-content {
  position: relative;
  padding-top: 70%;
}

.jumbotron
.left-container
.left-container-content
.btn-default {
  margin-top: 85px;
  margin-bottom: 30px;
}

.jumbotron
.left-container
.wraper {
  position: relative;
  padding: 0 60px 0 60px;
  min-height: 860px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
  }
  .jumbotron h1,
  .jumbotron .h1 {

  }

}

/* --------- When content is Full width --------- */

.brands {
  margin-top: 35px;
}

.full {
  width: 100% !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background-color: rgba(255, 255, 255, 0.85) !important;
}

.full .full-btn {
  width: 100%;
}

.full .selector {
  position: absolute;
  right: 25px;
  top: 23px;
  float: right;
  z-index: 99;
}

.full .special {
  color: #01b841;
  font-size: 50px;
  font-weight: bold;
  height: 96px;
  text-align: center;
}

.full .icon {
  margin-bottom: 30px;
}

.full .how-works {
  text-align: left;
}

.full b {
  color: #01b841
}

.full ul {
  text-align: left;
  list-style: none;
}

.full ul li {
  font-size: 16px;
  margin: 0 0 25px 0px;
}

.full ul li img {
  margin: 0 20px 0px 0px;
}

.full ul svg {
  width: 36px;
  margin: 0 20px 0px 0px;
  padding-top: 25px;
}


.full p, .full ul {
  color: #665e64;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 70px;
}

.full small {
  color: #01b841;
}

.full h1 {
  font-size: 30px !important;
  font-weight: bold;
  margin: 10px 0 80px 0px;
}

.full .short {
  margin-bottom: 20px;
}

.full h2 {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
  line-height: 1.4em;
}

.full select,
.full textarea,
.full input {
  position: relative;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0; border: 0; margin: 0;
  font-size: 18px;
  color: #666;
  height: 67px;
  border: 0;
  background-color: transparent;
  resize: none;
}

.full select,
.full textarea,
.full button,
.full input {
  width: 100%;
  padding: 20px 25px 25px 25px;
}

.full textarea {
  height: 140px;
  padding: 20px 25px 25px 25px;
}

.full select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 20px 25px 25px 25px;
}

.full form {
  width: 462px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: inline-block;
}

.full form input:nth-child(1) {
  border-bottom: 1px solid #ebebeb;
}

.full form input:nth-child(2) {
  border-bottom: 1px solid #ebebeb;
}

.full form input:nth-child(3) {
  border-bottom: 1px solid #ebebeb;
}

.full form .form-container {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ebebeb;
}

.full form .form-container select {
  border-bottom: 1px solid #ebebeb;
  border-radius: 0px !important;
}


.full .logo {
  text-align: center;
}

.full .wraper {
  text-align: center;
}

.full .wraper .left-container-content {
  padding-top: 100px;
}


/*==========  Non-Mobile First Method  ==========*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

    .jumbotron .left-container {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .container .jumbotron {
      padding: 0px;
    }

    .full form {
      width: 100%;
    }

    .jumbotron .left-container {
      position: relative;
    }

    .full ul {
      padding: 0px;
    }

    .full ul .how-long {
      width: 88% !important;
    }

    .full ul .how-long-special {
      padding-top: 37px !important;
    }

    .jumbotron .left-container {
      width: 100%;
      text-align: center;
    }

    .jumbotron .left-container-content {
    }

    .landing-mobile {
      padding-top: 40% !important;
    }

  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {

    body {
      padding-top: 0px;
      padding-bottom: 15px;
    }

    .left-container {
      background-color: rgba(255, 255, 255, 0.85) !important;
    }

    .landing-only {
      background-color: rgba(255, 255, 255, 0) !important;
    }

    .landing-only small {
      color: #fff;
      text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    }

    .landing-only h1 {
      font-weight: 400;
      color: #fff;
      text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    }

    .brands {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .brands img {
      width: 70%;
    }

    .jumbotron .left-container .logo {
      padding: 45px 0px 0px 0px;
    }

    .jumbotron, .jumbotron .left-container, .jumbotron .left-container .wraper {
      min-height: auto !important;
    }

    .jumbotron .left-container {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .full h1 {
      margin: 5px 0 20px 0px !important;
      font-size: 20px !important;
    }

    .full h2 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 10px;
    }

    .full ul li img {
      width: 29px;
    }

    .full p {
      font-size: 16px;
    }

    .full p, .full ul {
      margin-bottom: 20px;
    }

    h1 {
      font-size: 36.92px !important;
    }

    .container {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .container .jumbotron {
      padding: 0px;
    }

    .full form {
      width: 100%;
      margin-bottom: 0px;
    }

    .jumbotron .left-container {
      position: relative;
    }

    .jumbotron
    .left-container
    .wraper {
      padding: 0 20px 0 20px;
    }

    .full ul {
      padding: 0px;
    }

    .full ul li {
      margin: 0 0 15px 0px !important;
      float: left !important;
    }

    .full ul img {
      margin: 0 0 30px 0px;
      float: left;
    }

    .full ul .how-long {
      width: 85% !important;
    }

    .full ul .how-long-special {
      padding-top: 37px !important;
      width: 81% !important;
    }

    .jumbotron .left-container {
      width: 100%;
      text-align: center;
    }

    .full
    .wraper
    .left-container-content {
      padding-top: 15px !important;
    }

    .landing-mobile {
      padding-top: 20% !important;
    }

    .jumbotron
    .left-container
    .btn-default
    {
      margin-top: 20px !important;
      margin-bottom: 50px !important;
    }

    .jumbotron
    .left-container
    .landing-mobile
    .btn-default
    {
      margin-top: 40px !important;
      margin-bottom: 70px !important;
    }

    .thank-you {
      margin-bottom: 20px !important;
      margin: 0 20px 0 20px !important;
    }


  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px) {

  }
